:root {
  --primary-color: #120690;
  --secondary-color: #19163A;
  --bg-light-color: #F4F4F6;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
}
