:root {
  --primary-color: #120690;
  --secondary-color: #19163A;
  --bg-light-color: #F4F4F6;
  --text-grey: #a3a6b1;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.container {
  max-width: 1440px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.4;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.bg-light-grey {
  background-color: var(--bg-light-color);
}

.bg-primary-blue {
  background-color: var(--primary-color);
}

button {
  cursor: pointer;
}